.researchBg{
  position: relative;
  opacity: 0.4;
  height: 45vh;
  width: 100vw;
  background-color: white;
  z-index: -1;
  background-image: url('/researchBg.png');
  background-repeat: no-repeat;
  background-size:cover;
}

.researchTitleText{
  position: absolute;
  top: 9%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 900;
  font-size: 4vw;
  transition: font-size 0.3s ease-in-out;
  animation: showText 1s ease-out;
}

@keyframes showText {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
