*{
  margin: 0;
  padding: 0;
  list-style: none;
}

.membersBg{
  position: relative;
  opacity: 0.6;
  height: 45vh;
  width: 100vw;
  background-color: white;
  z-index: -1;
}

.membersBarWrap{
  position: relative;
  color: white;
  background-color: aqua;
  width: 100vw;
  height: 10vh;
  margin-top: -10vh;
}

.membersBar{
  width: 80vw;
  height: 10vh;
  background-color: white;
  margin: 0 10vw;
}

.membersSelect{
  height: 10vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}

.membersSelect li{
  width: 20%;
  display: flex;
  justify-content: center;  
  align-items: center;    
}



