body{
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}
/*  --------header-------- */
#header{
  display: flex;
  border-bottom: 2px solid rgba(255, 255, 255, .15);
  /* 마우스를 뗄 때, 0.2s 여유를 두고 부드럽게 전환*/
  transition: background-color 0.2s, color 0.2s ease-in-out;
}

.hearderInner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon{
  margin-left: 100px;
  color:white;
  transition: background-color 0.2s, color 0.2s ease-in-out;
}

.pgName{
  padding: 0 10px;
  margin-right: 500px;
  font-size: 30px;
  font-weight: 1000;
}



.navBar .navList{
  list-style: none;
  display: flex;
  padding: 10px 15%;
  font-size: 1.2rem;
}

.navList .navElement{
  margin: 0 45px;
}

/*  --------header : hover -------- */
#header:hover{
  background-color: white;
  color: #072d60;
  /* 마우스를 올릴 때, 0.35s 여유를 두고 부드럽게 전환*/
  transition: background-color 0.35s, color 0.35s ease-in-out;
}

#header:hover .icon{
  color: #072d60;
  transition: background-color 0.35s, color 0.35s ease-in-out;
}

.navElement:hover{
  font-weight: 1000;
}
