body{
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

/* ----------------------header---------------------- */
#header{
  display: flex;
  position: absolute;
  border-bottom: 2px solid rgba(255, 255, 255, .15);
  /* 마우스를 뗄 때, 0.2s 여유를 두고 부드럽게 전환*/
  transition: background-color 0.35s, color 0.35s ease-in-out;
  width: 100%;
  height: 10vh;
}

.headerInner{
  display: flex;
  align-items: center;
}

.icon{
  font-size: 2.7vw;
  margin-left: 5vw;
  color:white;
  transition: background-color 0.35s, color 0.35s ease-in-out;
}

#header .pgName a{
  transition: background-color 0.35s, color 0.35s ease-in-out;
  color: white;
}

.navList a {
  height: 100%;
  color: white;
}

.pgName{
  padding: 0 10px;
  padding-right: 17vw;
  margin-right: 20vw;
  font-size: 1.7vw;
  transition: font-size 0.3s ease-in-out; /* 부드러운 크기 변화 */
  font-weight: 1000;
}

.navBar .navList{
  list-style: none;
  display: flex;
  padding: 1vh 5vw;
  font-size: 1vw;
  transition: font-size 0.3s ease-in-out; /* 부드러운 크기 변화 */
}

.navElement{
  margin: 0 2vw;
  padding: 1vh 0;
  /* relative는 원래 자기가 있어야할 위치를 기준*/
  position: relative;
}

/* -------막대가 퍼지는 효과------- */
.navElement::after {
  content: "";
  /* absolute는 부모 요소를 기준으로 위치 조정 (relative OR absolute OR fixed) */
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: #072d60;
  transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
}

.navElement:hover::after {
  width: 100%;
  left: 0;
}

/*  --------header : hover -------- */
#header:hover{
  background-color: white;
  /* 마우스를 올릴 때, 0.35s 여유를 두고 부드럽게 전환*/
  transition: background-color 0.35s, color 0.35s ease-in-out;
}

#header:hover .pgName a{
  color: #072d60;
  transition: background-color 0.35s, color 0.35s ease-in-out;
}

#header:hover .icon{
  color: #072d60;
  transition: background-color 0.35s, color 0.35s ease-in-out;
}

#header:hover .navElement a{
  color: black;
}

#header:hover .navElement a:hover{
  color: #072d60;
  font-weight: 1000;
}



/* --------------main slide img의 css는 모듈화 되었음 ----------------*/

/* ---------------------------main-typo -----------------------------*/
.main-typo-wrap{
  position: absolute;
  top : 25vh;
  left : 15vw;
}

.main-typo{
  position: relative;
  animation: slideText 1.5s ease-out;
}

.main-typo::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20%;
  width: 24vw;
  height: 0.3vh;
  background-color: white;
}

.mju-typo1{
  margin: 0;
  padding: 0;
  font-size : 2vw;
  font-weight: 100;
  transition: font-size 0.3s ease-in-out; /* 부드러운 크기 변화 */
}

.mju-typo2{
  margin: 0;
  padding: 0;
  font-size : 3.3vw;
  font-weight: 900;
  transition: font-size 0.3s ease-in-out; /* 부드러운 크기 변화 */
}

.mju-typo3{
  margin-top: 5%;
  font-weight: 100;
  animation: slideText 1.7s ease-in-out;
  font-size: clamp(11px, 1vw, 24px);
  transition: font-size 0.3s ease-in-out; /* 부드러운 크기 변화 */
}

@keyframes slideText{
  from {
    opacity: 0;
    transform: translateX(-8%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


/* --------------------------- introduce -----------------------------*/
.introduce-wrap{
  height: 90vh;
  width: 100vw;
  position: relative;
  display: flex;
  background-color:#f5f6fa;
  color: black;
  opacity: 0.9;
  /* subBg.jpg 출처 (freepik -> https://kr.freepik.com/free-vector/realistic-white-golden-geometric-background_18262593.htm#fromView=search&page=1&position=15&uuid=ab18cdc1-6997-4c92-bf5b-0f57ec1059ae&query=%ED%9D%B0%EC%83%89+%EB%B0%B0%EA%B2%BD)
     주의!!!! : 경로를   ./subBg.jpg 로 설정하면 vite가 참조하지 못함 
  */
  background-image: url('/subBg.jpg');
  background-size: cover;
  background-repeat: no-repeat; /* 이미지 반복 방지 */

}

.introduce-box{
  height: 40vh;
  width: 100vw;
  position: relative;
  display: flex;
  margin-top: 7vh;
  transform: translateY(35%);
}

/* 좌측 */
.introduce{
  width: 20vw;
  text-align: center;
  margin-left: 10%;
}

.mjuLogo{
  width: 70%;
  height: 70%;
  float: right;
}

/* 우측 */
.introduce-text{
  margin-left: 5%;
  width: 50vw;
  text-align: left;
}

.introduce-text1{
  font-weight: 600;
  height: 20%;
  font-size: clamp(23px, 2.1vw, 50px);
  transition: font-size 0.3s ease-in-out; /* 부드러운 크기 변화 */
  margin-bottom: 0;
  margin-top: 2%;
}


/* --------------------------- contact -----------------------------*/
.contact-wrap{
  height: 100vh;
  width: 100vw;
  position: relative;
}

.contact-wrap img{
  object-fit: fill;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}


.contact-box{
  position: relative;
  height: 80%;
  width: 80%;
  margin: 0 10%;
  box-shadow: 
  -10px 0 20px rgba(0, 0, 0, 0.2),  /* 왼쪽 그림자 */
  10px 0 20px rgba(0, 0, 0, 0.2),   /* 오른쪽 그림자 */
  0 -10px 20px rgba(0, 0, 0, 0.2),  /* 위쪽 그림자 */
  0 10px 20px rgba(0, 0, 0, 0.2);   /* 아래쪽 그림자 */
  background-color: #1e1e1e;
  transform: translateY(-122vh);
}

.contact-title{
  display: flex;
  position: relative;
  height: 10%;
  justify-content: center; /* flex box에서만 정렬 사용 가능*/
  color: white;
  font-size: clamp(10px, 1vw, 24px);
  transition: font-size 0.3s ease-in-out; /* 부드러운 크기 변화 */
}

.contact-title::before{
  position: absolute;
  content: "";
  width: 12.5vw;
  height: 3px;
  background-color: white;
  top: 20%;
}

.contact-title::after{
  position: absolute;
  bottom: 20%;
  content: "";
  width: 12.5vw;
  height: 3px;
  background-color: white;
}

.contact-locate, .contact-email, .contact-call {
  display: flex;
  align-items: center;
  opacity: 0;
}

.contact-locate-icon, .contact-email-icon, .contact-call-icon{
  margin: 0 2vw;
  width: 1%;
  color:  rgb(30, 144, 230);
}

.contact-locate-text h2, .contact-email-text h2, .contact-call-text h2{
  margin-bottom: 0;
  color:   rgb(30, 144, 230);
  font-size: clamp(10px, 2vw, 24px);
  transition: font-size 0.3s ease-in-out; /* 부드러운 크기 변화 */
}

.contact-locate-text p, .contact-email-text p, .contact-call-text p{
  margin-top: 0;
  color: white;
  font-size: clamp(10px, 1vw, 24px);
  transition: font-size 0.3s ease-in-out; /* 부드러운 크기 변화 */
}

.contact-locate-text, .contact-email-text, .contact-call-text{
  justify-content: left;
  align-items: center;
}


.contact-locate{
  height: 13%;
  margin: 0;
  padding: 0;
  display: flex;
} 

.contact-email{
  height: 13%;
  margin: 0;
  padding: 0;
  display: flex;
}

.contact-call{
  height: 13%;
  margin: 0;
  padding: 0;
  display: flex;
}

.fade-in { /* rollUp 애니메이션 */
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.contact-locate.fade-in {
  transition-delay: 0s;
}
.contact-email.fade-in {
  transition-delay: 0.1s;
}
.contact-call.fade-in {
  transition-delay: 0.2s;
}

.ct-icon{
  display: flex;
  font-size: 2vw; /* 뷰포트 너비 기준으로 크기 조절 */
  max-width: 50px; /* 너무 커지지 않도록 제한 */
  min-width: 20px; /* 너무 작아지지 않도록 제한 */
  transition: font-size 0.3s ease-in-out; /* 부드러운 크기 변화 */
}

.contact-email-icon{
  font-size: clamp(14px, 2vw, 24px);
}

.contact-map{
  width: 100%;
  height: 51%;
}

.contact-title span{
  color:  rgb(30, 144, 230);

}
